name: Continuous integration checks

on:
  push:
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libzbar-dev
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        pip freeze
    - name: Run tests
      run: |
        make tests

  quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libzbar-dev
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        pip freeze
    - name: Run quality checks
      run: |
        make quality
